# Python Graph handling package
# https://pypi.org/project/pydgraph/
pydgraph
# https://www.semi.technology/documentation/weaviate/current/client-libs/python.html
weaviate-client>=0.4.1
# https://pypi.org/project/ruruki
ruruki
