# Python Graph handling package
# https://pypi.org/project/pydgraph/
pydgraph
# https://www.semi.technology/documentation/weaviate/current/client-libs/python.html
weaviate-client>=0.4.1
# https://pypi.org/project/ruruki
ruruki
# https://pypi.org/project/SPARQLWrapper/
# 321 stars, 95 forks
# https://github.com/RDFLib/sparqlwrapper
# https://stackoverflow.com/questions/tagged/sparqlwrapper
SPARQLWrapper
# https://pypi.org/project/sparql-client/
# 12 stars, 14 forks
# https://pypi.org/project/pylodstorage/
pylodstorage
